.layout{
    width: 30vw;
    margin: 3%;
}
button{
    margin-top: 3%;
}

span{
    margin: 3%;
}

.top{
    display: flex;
   flex-direction: row;
}
.doctor-info{
    display: flex;
    flex-direction: column;
}
.doctor-name-frame {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f5f5f5;
  }
  
  .doctor-name {
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
  }
  .doctor-name-container {
    display: flex;
    align-items: center;
  }
  
  .doctor-label {
    font-weight: bold;
    margin-right: 5px;
  }
  .top{
    display: flex;
    width: max-content;
  }