.patient-info {
  background-color: #fff;
  // border-radius: 8px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.patient-info h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.patient-info p {
  margin-bottom: 5px;
}

.patient-info strong {
  font-weight: bold;
}

.isNotLoggedIn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.add-note{
  max-width: 100%;

}
.add-note textarea {
  flex-direction: column;
  max-width: 100%;
  min-width: 100%;
  min-height: 100px;
}

.note-input{
  max-width: 100%;
}

.add-note button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.no-patient-alert {
  display: flex;
  justify-content: center;
}

.note-button{
  display: flex;
  max-width: 100%;
  justify-content: flex-end;
}
