
  .patient-card {
    width: 100vh;
    text-align: center;
    padding: 20px;
    margin-bottom: 10px;
    border: 4px solid #ccc;
    border-radius: 10px;
  }
  .colored-card{
    background-color: aquamarine;
  }

  .doctor-card{
    margin-top: 10px;
    text-align: center;
  }
  body {
    font-family: Arial, sans-serif;
  }
  
  // header {
  //   background-color: #333;
  //   color: #fff;
  //   padding: 20px;
  //   text-align: center;
  // }
  
  nav.doktorlar {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  nav.doktorlar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  nav.doktorlar ul li {
    display: inline-block;
  }
  
  nav.doktorlar ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
  }
  
  nav.doktorlar ul li a:hover {
    background-color: #ddd;
  }
  
  main {
    padding: 20px;
  }
  
  .detay {
    background-color: #fff;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }